#projects {
  width: 100%;
  background-color: #f5f5f5;
  /* margin: 110px auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
}

#projects-container {
  margin: 80px auto;
  width: 70rem;
}

#projects-container > h1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #2d2e32;
  margin: 0.8rem 0;
  margin-left: 3rem;
}

#projects-container > p {
  color: #ff808b;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 3rem;
}

.projects-section {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 3.5rem auto;
  width: 90%;
  height: 20rem;
  /* padding: 2rem; */
  border-radius: 1.7rem;
}

.projects-section-alt {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 3.5rem auto;
  width: 90%;
  height: 20rem;
  /* padding: 2rem; */
  border-radius: 1.7rem;
}

/*
div-img
.projects-img {
  padding: 8rem;
  width: 30rem;
  border-radius: 1.7rem;
  border: 1px solid #ff808b;
}

*/
.projects-img {
  /* padding: 8rem; */
  width: 33rem;
  /* max-width: 60%; */
  height: auto;
  /* height: 100%; */
  /* height: 16rem; */
  border-radius: 0.5rem;
  /* border: 1px solid #ff808b; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-img-alt {
  /* padding: 8rem; */
  max-width: 33rem;
  height: auto;
  /* height: 100%; */
  /* height: 16rem; */
  border-radius: 0.5rem;
  /* border: 1px solid #ff808b; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-img2 {
  display: none;
}

.projects-img2-alt {
  display: none;
}

.projects-summary {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  align-items: center;
}

.projects-summary-alt {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  align-items: center;
}

.projects-summary > h2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #2d2e32;
}

.projects-summary-alt > h2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #2d2e32;
}


.projects-summary > p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  color: #767676;
  font-family: "Mulish", sans-serif;
  margin: 1.2rem 0 1rem;
  text-align: center;
}

.projects-summary-alt > p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  color: #767676;
  font-family: "Mulish", sans-serif;
  margin: 1.2rem 0 1rem;
  text-align: center;
}

.tech-skills {
  display: flex;
  justify-content: center;
  /* gap: 3; */
  margin-bottom: 1rem;
}

.tech-skills-alt {
  display: flex;
  justify-content: center;
  /* gap: 3; */
  margin-bottom: 1rem;
}

.tech-skills > p {
  margin: 1.2rem;
  padding: 0.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tech-skills-alt > p {
  margin: 1.2rem;
  padding: 0.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.live-code {
  display: flex;
  gap: 25px;
}

.live-code-alt {
  display: flex;
  gap: 25px;
}


.live-code a {
  color: #2d2e32;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  /* margin-right: 1rem; */
}

.live-code-alt a {
  color: #2d2e32;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  /* margin-right: 1rem; */
}

/* Media Query for Ipad/Tablets */
/* 1024px before */
@media (max-width: 1290px) {
  #projects-container {
    width: 100%;
  }
}

/* before it was 870px */
@media (max-width: 990px) {
  #projects-container {
    width: 90%;
  }

  #projects-container > p {
    text-align: center;
  }

  #projects-container > h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .projects-section {
    flex-direction: column;
    height: 40rem;
    border-radius: 1.3rem;
  }

  .projects-section-alt {
    flex-direction: column-reverse;
    height: 40rem;
    border-radius: 1.3rem;
  }


  /*
  div img
  .projects-img {
    border-radius: 1.1rem;
  }
*/

  .projects-img {
    max-width: 95%;
    height: auto;
    /* height: 18rem; */
  }

  .projects-img-alt {
    max-width: 95%;
    height: auto;
    /* height: 18rem; */
  }


  .projects-summary {
    margin: 1.5rem 0 0;
  }

  .projects-summary-alt {
    margin: 1.5rem 0 0;
  }

  .projects-summary > p {
    font-size: 0.95rem;
  }

  .projects-summary-alt > p {
    font-size: 0.95rem;
  }

  .projects-summary h2 {
    font-size: 1rem;
  }

  .projects-summary-alt h2 {
    font-size: 1rem;
  }

  .live-code a {
    font-size: 1rem;
  }

  .live-code-alt a {
    font-size: 1rem;
  }
}

/* Media Query for Mobile Devices */

@media (max-width: 550px) {
  .projects-img {
    display: none;
  }

  .projects-img-alt {
    display: none;
  }

  .projects-img2 {
    display: inline;
    width: 100%;
    /* height: 15rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }

  .projects-img2-alt {
    display: inline;
    width: 100%;
    /* height: 15rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }
}

@media (max-width: 450px) {
  #projects-container {
    width: 100%;
    text-align: center;
  }

  #projects-container > h1 {
    margin: 0.5rem 2rem;
  }

  #projects-container > p {
    font-size: 1rem;
    margin: 0;
  }

  .projects-section {
    border-radius: 1rem;
    height: 37rem;
    justify-content: flex-start;
  }

  .projects-section-alt {
    border-radius: 1rem;
    height: 37rem;
    justify-content: flex-end;
  }

  /*
  div img
  .projects-img {
    padding: 5rem;
    width: 100%;
    height: 20rem;
    border-radius: 1.7rem;
    border: 1px solid #ff808b;
    border-radius: 1rem;
  }
*/

  .projects-img {
    display: none;
  }

  .projects-img-alt {
    display: none;
  }

  .projects-img2 {
    display: block;
    /* width: 30rem; */
    /* height: 15rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }

  .projects-img2-alt {
    display: block;
    /* width: 30rem; */
    /* height: 15rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }

  .projects-summary p {
    font-size: 0.9rem;
    line-height: 1.7;
    max-width: 18rem;
  }

  .projects-summary-alt p {
    font-size: 0.9rem;
    line-height: 1.7;
    max-width: 18rem;
  }

  .tech-skills > p {
    margin: 0.9rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tech-skills-alt > p {
    margin: 0.9rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .live-code a {
    font-size: 0.9rem;
  }

  .live-code-alt a {
    font-size: 0.9rem;
  }
}
