#home {
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  height: 47rem;
  margin: 80px auto 0;
  padding-top: 90px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  width: 25rem;
  height: auto;
  border: 1.5px solid #ff808b;
  border-radius: 50%;
  margin-right: 6rem;
}

#profile-summary {
  max-width: 30rem;
}

#profile-summary h1 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 3.8rem;
  color: #2d2e32;
  padding-bottom: 1.7rem;
}

#profile-summary p {
  margin: 0.6rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #767676;
  font-family: "Mulish", sans-serif;
  padding-bottom: 0.6rem;
}

#socials {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
  margin-top: 1.3rem;
  padding-bottom: 0.6rem;
}

.cta {
  margin: 1.2rem auto 0;
  display: flex;
  gap: 0.9rem;
}

.cta-btn {
  width: max-content;
  padding: 0.75rem 0.9rem;
  font-size: 1.2rem;
  background: transparent;
  border: 1px solid #2d2e32;
  border-radius: 0.4rem;
  color: #2d2e32;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  border-color: #ff808b;
  color: #ff808b;
}

.cta-btn2 {
  width: max-content;
  padding: 0.75rem 0.9rem;
  font-size: 1.2rem;
  background-color: #2d2e32;
  border: 1px solid #2d2e32;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn2:hover {
  background-color: transparent;
  border-color: #ff808b;
  color: #ff808b;
}

/*  Skills Section */

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6.5rem auto;
  width: 60%;
}

.tech-stack p {
  border-right: 2px solid #767676;
  padding-right: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #2d2e32;
  font-family: "Mulish", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo li {
  padding-left: 2.5rem;
}

/* Media Query for Ipad/Tablet */

@media (max-width: 990px) {
  .container {
    margin: 60px auto 0;
    height: 67rem;
  }

  .profile {
    flex-direction: column;
  }

  #profile-pic {
    margin: 0 auto;
    width: 20rem;
  }

  #profile-summary {
    margin: 2rem auto;
    text-align: center;
  }

  #profile-summary h1 {
    font-size: 3.2rem;
    max-width: 350px;
    margin: auto;
  }

  #profile-summary p {
    font-size: 1.1rem;
  }

  #socials {
    justify-content: center;
  }

  .cta {
    justify-content: center;
  }

  .cta-btn {
    font-size: 1.1rem;
  }

  .cta-btn2 {
    font-size: 1.1rem;
  }

  .tech-stack {
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    width: 80%;
  }

  .tech-stack p {
    text-align: center;
    border-right: none;
    padding-right: 0;
    border-bottom: 2px solid #767676;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  .logo {
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo li {
    padding: 1rem;
  }
}

/* Media Query for Mobile Devices */

@media (max-width: 450px) {
  .container {
    margin: 40px auto 0;
    height: 69rem;
  }

  #profile-pic {
    width: 16rem;
  }

  #profile-summary h1 {
    font-size: 2.5rem;
    padding-bottom: 0.6rem;
  }

  #profile-summary p {
    font-size: 1rem;
    padding-bottom: 0.1rem;
  }

  #socials {
    padding-bottom: 0.1rem;
  }

  .cta-btn {
    font-size: 1rem;
  }

  .cta-btn2 {
    font-size: 1rem;
  }
}
