/*
.nav__container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 20px;
    padding-bottom: 20px;
}

.nav__container p {
    color: #161616;
    font-size: 1.1rem;
}

.nav-list {
    display: flex;

}

.nav-list a {
    padding: 0px 10px;
    color: #151513;
    transition: all 0.3s ease 0s;
}

.nav-list a:hover {
    cursor: pointer;
    color: #ff808b;
    color: #ff8983; 
}


.nav-list li:nth-child(4) {
    padding-right:10px;
}

*/

/* .NavBar .MobileNavigation {
    display: none;
} */